* {
    
    font-family: Arial, Helvetica, sans-serif;
  
}
body {
    margin: 0px;
}

nav{

    background-color: rgb(79, 138, 221);
    display: flex;
    justify-content: flex-end;
}


nav #topMenu{
    margin: 0px 80px 0px 80px ;
    background-color: rgb(79, 138, 221);
    display: flex;


}
nav ul{
    list-style-type: none;
}

#topMenu{
    display: flex;
    color: white;
}

#topMenu li {
    padding: 5px;
    background-color: rgb(39, 34, 170);
    height: fit-content;
    margin: 5px;
    border-radius: 5px;

}

#topMenu li:hover {
    background-color: rgb(11, 3, 54);
  }

.submenu{
    display:none;
    padding-left: 0%;
}

#select1:hover > .submenu{
    display:block;
}
