* {  
    font-family: Arial, Helvetica, sans-serif;
    
}


header{
    display: flex;
    justify-content: space-between;
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 25px;
    align-items: center;
}
body{
    margin: 0px;
}

nav{
    color: gray;

}

nav ul{
    display: flex;
    list-style-type: none;
    margin: 0px;
    align-items: center;
}
nav li{
    padding: 0px 25px 0px 25px;
}



#sectionOne{
        background-image: url( '../img/mountain-background.svg' );
        background-size: cover;
 
}

.container{
    display: flex;
}

.title {
    flex-direction: column;
    margin: 100px 0px 100px 0px;
    align-items: center;
}

.title p{
    color: rgb(179, 174, 174);
    font-size: medium;
}

.title h1{
    font-size: xxx-large;
    margin-bottom: 10px;
}
.title button{
    background-color: white;
    border-radius: 25px;
    border:0px ;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 10px;
    color: rgb(0, 0, 0);
    font-size: small;
    padding-left: 20px;
    padding-right: 20px;
}

.socials{
    margin-top: 250px;
    margin-left: 10%;
    padding-bottom: 150px;
}
.socials div{
  padding: 20px;  
}

.divider{

        padding: 50px;
        background-color: aquamarine;
    }

.explainer{
    background-color: rgb(56, 170, 132);
    justify-content: center;
    padding-bottom: 100px;
    padding-top: 100px;
}

.info{
    margin-left: 10%;
}

#journey-text{
    flex-direction: column;
    align-items: center;
    
}
#journey-text p{
    word-wrap: break-word;
    width: 600px;
    font-size: small;
}

  .btn {
    box-sizing: border-box;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    background-color: transparent;
    border: 2px solid #e74c3c;
    border-radius: 0.6em;
    color: #e74c3c;
    cursor: pointer;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-self: center;
        -ms-flex-item-align: center;
            align-self: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1;
    margin: 20px;
    padding: 1.2em 2.8em;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
  }
  .btn:hover, .btn:focus {
    color: #fff;
    outline: 0;
  }

  


.join {
    border-color: #f1c40f;
    color: rgb(0, 0, 0);
    background-image: -webkit-linear-gradient(45deg, #f1c40f 50%, transparent 50%);
    background-image: linear-gradient(45deg, #f1c40f 50%, transparent 50%);
    background-position: 100%;
    background-size: 400%;
    -webkit-transition: background 300ms ease-in-out;
    transition: background 300ms ease-in-out;
    background-color: white;
    border-radius: 25px;
  }
  .join:hover {
    background-position: 0;
  }


.discover {
    border-color: #f1c40f;
    color: rgb(0, 0, 0);
    background-image: -webkit-linear-gradient(45deg, #f1c40f 50%, transparent 50%);
    background-image: linear-gradient(45deg, #f1c40f 50%, transparent 50%);
    background-position: 100%;
    background-size: 400%;
    -webkit-transition: background 300ms ease-in-out;
    transition: background 300ms ease-in-out;
    background-color: white;
    border-radius: 25px;
  }
  .discover:hover {
    background-position: 0;
  }

